@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --cor--de--fundo: #004aad;
  --cor--hover--hover: #00398c;
  --cor--de--fundo--secundaria: #f7f7f7;
  --cor--de--text: #222222;
}


body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container { max-width:1100px; margin:0 auto; padding:0 15px; display:flex; justify-content:space-between; align-items:center; }

.header { background:#333; color:#fff; position:sticky; top:0; z-index:1000; }
.logo { height:50px; }
.nav { display:flex; }
.nav-list { list-style:none; display:flex; gap:20px; }
.nav-list a { color:#fff; text-decoration:none; font-weight:bold; }

.menu-toggle { display:none; font-size:30px; cursor:pointer; }

.hero { background:#555; color:#fff; padding:100px 20px; text-align:center; }
.section { padding:60px 20px; text-align:center; }
.cards { display:flex; gap:20px; justify-content:center; flex-wrap:wrap; }
.card { background:#eee; padding:20px; flex:1 1 200px; border-radius:8px; }
footer.footer { background:#222; color:#fff; text-align:center; padding:20px; }

/* Responsividade */
@media(max-width:768px){
  .menu-toggle { display:block; }
  .nav { position:absolute; top:70px; right:0; background:#333; width:100%; max-height:0; overflow:hidden; transition:max-height .3s ease; flex-direction:column; }
  .nav.active { max-height:300px; }
  .nav-list { flex-direction:column; padding:20px 0; gap:10px; }
}

#inicio {
  margin-top: 120px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;

  background-color: #ffffff; /* Cor de fundo */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Para menus escuros, use isso no lugar:
background-color: #002e70;
*/

.menu {
  display: flex;
  gap: 80px;
  margin-left: 100px;
}

.opcoes a {
  color: #004aad; /* Azul elegante */
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.opcoes a:hover {
  color: #001f4d;
}

.logo {
  margin-left: auto;
}

.logo img {
  height: 80px; /* Ajustado para não ocupar muito espaço */
}

.servicos,
.como-trabalhamos,
.sobre,
.contato {
  padding: 60px 20px;
  text-align: center;
}

.contato h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contato p{
  font-size: 16px;
}

.sobre h2{
  color: #004AAD;
}

.sobre p{
  font-size: 20px;
  color: #111;
  font-weight: 500;
}

.servicos h2{
  font-size: 24px;
  color: #004AAD;
  font-weight: 700;
  margin-bottom: 10px;
}



.como-trabalhamos{
  background-color: #f7f7f7;
}

.como-trabalhamos h2{
  color: #004AAD;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.como-trabalhamos p{
  color: black;
  text-align: center;
}

.descricao {
  font-size: 14px;
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.5;
  text-align: justify;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-conteudo h3{
  font-weight: 600;
}

.card-conteudo {
  padding: 20px;
}

.card-conteudo p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.card-conteudo a {
  color: #004aad;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.card-conteudo a span {
  margin-left: 5px;
}

.sobre h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sobre p {
  margin-bottom: 100px;
}

.sobre-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.sobre-card {
  background: #fff;
  border-radius: 15px;
  padding: 30px 20px;
  width: 280px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.sobre-card:hover {
  transform: translateY(-5px);
}

.sobre-card img {
  width: 40px;
  margin-bottom: 20px;
}

.sobre-card h3 {
  font-size: 18px;
  color: #111;
  margin-bottom: 10px;
  font-weight: 600;
}

.sobre-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.sobre-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #004aad;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

.depoimento-estatisticas {
  padding: 80px 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
  background: white;
}

.depoimento .aspas {
  font-size: 40px;
  color: #004aad;
  margin-bottom: 20px;
}

.depoimento .texto {
  font-size: 20px;
  color: #111;
  font-weight: 500;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
  text-align: justify;
}

.depoimento .autor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}

.depoimento .autor img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.depoimento .autor .info {
  text-align: left;
}

.depoimento .autor strong {
  display: block;
  color: #111;
  font-size: 14px;
}

.depoimento .autor span {
  font-size: 12px;
  color: #777;
}

.estatisticas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #f7f7f7;
  padding: 40px 20px;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.estatistica h3 {
  font-size: 32px;
  color: #004aad;
  margin-bottom: 8px;
}

.estatistica p {
  font-size: 14px;
  color: #444;
}

.hr1{
  margin-bottom: 10px;
}

.hr2{
  margin-top: 20px;
 }

.features {
  text-align: center;
  padding: 60px 20px;
  font-family: "Inter", sans-serif;
}

section {
  scroll-margin-top: 120px;
}

.features-label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
}

.features-title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.features-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.feature-box {
  background: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 28px;
  margin-bottom: 15px;
}

.feature-box h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.feature-box p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  background: #f3f3f3;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: background 0.2s;
}

.btn:hover {
  background: #e0e0e0;
}


.highlight h4,
.highlight p {
  color: #000;
}

.btn.dark {
  background: #f3f3f3;
  color: black;
}

.btn.dark:hover {
  background:  #e0e0e0;
}


.form-contato {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-contato input,
.form-contato textarea {
  padding: 12px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  outline: none;
}

.form-contato button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}


.form-contato button:hover {
  background-color: #00398c;
}

.da {
  text-align: center;
}

.di {
  text-align: center;
}

.de {
  text-align: center;
}

.du {
  text-align: center;
}

.justify {
  text-align: justify;
}
.footer {
  background-color: #222222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons {
  margin-bottom: 20px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #fff;
  color: #111;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #004AAD;
  color: #fff;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.copyright {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  color: white;
}

@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons a {
    margin: 6px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer-logo,
  .footer-contato,
  .footer-direitos {
    flex: 1;
  }

  .footer-contato {
    padding: 0 20px;
  }

  .footer-direitos {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 0;  
  }

  .menu {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    align-items: center;
}

  .logo {
    margin-left: -230px;
    margin-top: -30px;
    text-align: center;
  }

  .logo img {
    height: 160px;
  }

  .cards,
  .sobre-cards {
    flex-direction: column;
    align-items: center;
  }

  .card,
  .sobre-card {
    width: 90%;
    max-width: 350px;
  }

  .descricao {
    padding: 0 10px;
    text-align: justify;
  }

  .form-contato {
    width: 90%;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.hamburguer {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #004AAD;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}


@media (max-width: 768px) {
  section {
    scroll-margin-top: 150px; /* exemplo se o menu for menor */
  }
}


@media (max-width: 768px) {
  .hamburguer {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1001;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 65px;
    right: 16px;
    width: 160px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1000;
  }

  .menu.ativo {
    display: flex;
  }

  .menu a {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #004aad;
    transition: background 0.2s ease;
  }

  .menu a:hover {
    background-color: #f3f3f3;
  }
}

[vw] {
  display: block !important;
  visibility: visible !important;
  z-index: 999999 !important;
  position: fixed !important;
}

[vw-access-button] {
  bottom: 15px !important;
  right: -8px !important;
}

  #btnVoltarTopo {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
      background-color: #004AAD;
      color: white;
      border: none;
      padding: 12px 16px;
      border-radius: 50%;
      font-size: 18px;
      cursor: pointer;
      z-index: 9999;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }

    #btnVoltarTopo:hover {
      background-color: #00398c;
    }
